<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Studient Project/ Projet Etudiant{% endblock %}</title>
        <link rel="icon"
              href="{{ asset('assets/img/pinball.png') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/acc.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/accButtons.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/Icomoon/style.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/fontawesome.min.css') }}">
            <meta name="theme-color" content="#7952b3">
        {% endblock %}

    </head>
	    <header>
        <div class="collapse navbar-nav-scroll" id="navbarHeader"
             style="background-image: url({{ asset('assets/img/bnrgif.gif') }});
                     background-repeat: no-repeat;
                     background-size: cover;
                     font-family: 'Lobster', cursive;
                     position: fixed;
                     width: 100%;
                     padding-top: 65px;
                     padding-bottom: 20px;
                     scroll-behavior: smooth;
                     z-index: 112;
                     ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4"
                         style="border-style: double;
                                border-color: #b3d7ff;
                                display: flex;
                                flex-direction: column;
                                text-align: center;
                                justify-items: center;
                                ">

                        <h4 class="text-center"
                            style="color: whitesmoke;
                            font-family: 'Lobster-Regular', Roboto;
                            text-decoration-line: underline;
                            margin-bottom: 20px;">
                            Qui sommes nous?
                        </h4>
                        <p class="text-center"
                           style="color: #0dcaf0;
                                font-size: 25px;
                                text-align: center;
                                font-family: 'Lobster-Regular', 'Roboto';
                                ">
                            Neoflips a été fondé en 2016 par X et Y...
                            ...Texte de présentation de l'entreprise...
                        </p>

                         <img style="
                        max-width: 60%;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 45px;
                        margin-bottom: 25px;
                        border-radius: 5%;"
                              src="/assets/img/groupavatar.avif" alt="Image profil entreprise">

                    </div>
                    <div class="col-sm-4 md-1 py-4" style="text-align: center;">
                        <div style="color: #b3d7ff"
                            class="text">
                            <h3 style="border-style: double;
                            color: #b3d7ff;
                            width: 100%;
                            font-size: 32px">
                                Contactez Nous:<br>
                            </h3>
                            <a style="font-weight: bolder;
                                font-size: 20px"
                               href="mailto:Neoflips@gmail.com"
                               target="_blank">Mail @NeoFlips.
                            </a>
                        </div><br>
                        <ul class="list-unstyled"
                            style="text-align: center;
                                   font-weight: bolder;
                                   font-size: 22px">
                          <h4 style="color: #b3d7ff;
                          border-style: double;
                          font-size: 32px">
                              Raccourcis vers les pages:
                          </h4>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('app_accueil') }}">Accueil</a></li>
                                <li><a href="{{ path('app_user_index') }}">Users</a></li>
                                <li><a href="{{ path('app_product_index') }}">Produits</a></li>
                                <li><a href="{{ path('app_category_index') }}">Categorie</a></li>
                                <li><a href="{{ path('mycart') }}">Panier</a></li>
                                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                                <h4 style="color:  #b3d7ff;
                                border-style: double;
                                font-size: 32px">
                                    Catégories:
                                </h4>
                                {% for category in categories %}
                                    <li><a href="{{ path('frontcategory', {id: category.id }) }}" class="text-white">{{ category.name }}</a></li>
                                {% endfor %}
                            {% elseif is_granted('ROLE_USER') %}
                                <li><a href="{{ path('app_accueil') }}">Accueil</a></li>
                                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                                <li><a href="{{ path('mycart') }}">Mon Panier</a></li>
                            {% else %}
                                <li><a href="{{ path('app_login') }}">Connexion</a></li>
                                <li><a href="{{ path('inscription') }}">Inscription</a></li>
                                <li><a href="{{ path('mycart') }}">Panier</a></li>
                                <li> <a>Fermer le Menu :</a>
                                    <button class="glow-on-hover"
                                                type="button"
                                                data-toggle="collapse"
                                                data-target="#navbarHeader"
                                                aria-controls="navbarHeader"
                                                aria-expanded="false"
                                                aria-label="Toggle navigation"
                                                style="
                                                border: solid;
                                                background-color: black;
                                                width:80px;
                                                height:60px;
                                                border-radius: 5%;
                                                "><a>Fermer</a></button>
                                    </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm fixed-top" id="navbar"
             style="
             width: 100%;
             animation: ease-in-out;
             transition: 0.5s;
             background: rgb(111,111,111);
             background: linear-gradient(100deg, rgba(111,111,111,1) 0%, rgba(0,171,255,1) 100%);
             opacity: 85%">

            <div class="container d-flex justify-content-between" id="navbarr" style="width: 100%;display: flex">
                <a href="{{ path('app_accueil') }}"

                   class="navbar-brand d-flex align-items-center">

                    <img src="{{ asset('assets/img/pnblanc.png') }}"
                         width="30" height="30"
                         fill="none"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         stroke-width="2"
                         class="mr-2" style="margin-left: -20px">
                    <strong style="
                    font-family: 'Lobster', Roboto;
                    opacity: 100%;">
                        Neoflips: Pincabs
                    </strong>
                </a>
                <div class="glow-on-hover collapsed" style="max-width: 100px;max-height: 40px;background-color: black; z-index: 10;border-style:solid;">
                <a href="{{ path('app_all_product') }}"
                   class="navbar-brand d-flex">
                    <strong style="
                    margin-left: 10px;
					margin-top:-4px;
                    font-family: 'Lobster', Roboto;
                    opacity: 100%;">
                        Boutique
                    </strong>
                </a>
                </div>



                <button class="glow-on-hover collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarHeader"
                        aria-label="Toggle navigation"
                        style="width:40px;
                        border-style: solid;
                        background-color: black;
                        font-size: 9px;
                        height:40px;
                        z-index:0;
                        border-radius: 10%;
                        "><span style="-webkit-align-items: center;z-index: -1">MENU</span></button>

            </div>
        </div>
    </header>

    {%  for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
    {% endfor %}

    {% block body %}
    {% endblock %}
        <footer id="footer" class="row" style="
                font-family: 'Lobster','Ink Free';
                font-size: 18px;
                justify-content: space-evenly;
                height: 100%;
                width: 100%;
                background: url({{ asset('assets/img/videos/GIF/colorfulbar.gif') }});
                background-repeat: no-repeat;
                background-size: cover;
                margin-bottom: 0px;
                padding: 0%;
                margin-top: 0px;">

            <div class="col-2" >
                <a style="display: flex;
                flex-direction: column;
                margin-top: 20px;
                align-items: center"
                   href="https://fr-fr.facebook.com" target="_blank" class="fa fa-facebook-square">
                <h5 style="margin-top: 10px;font-size: 15px">Facebook</h5>
                </a>
                <ul class="nav flex-column" style="text-align: center">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Retour en haut de page</a></li>
                </ul>
            </div>


            <div class="col-4 text-center">
                <a style="display: flex;
                flex-direction: column;
                margin-top: 20px;
                align-items: center"
                    class="fa-regular fa-envelope">
                    <h5 style="margin-top: 10px;font-size: 15px">Newsletter</h5>
                </a>
                <ul class="nav flex-column" style="text-align: center;align-items: center">
                    <li class="nav-item mb-2"><a class="nav-link p-0" style="font-size: 16px;color: whitesmoke">Inscrivez-vous<br>et restez informé.</a></li>
                </ul>
                <input id="newsletter1" type="text" class="form-control" placeholder="...@VotreEmail">
                <button class="glow-on-hover collapsed"
                        type="submit"
                        data-toggle="collapse"
                        style="width:100px;
                        border-style: solid;
                        background-color: darkgrey;
                        font-size: 15px;
                        height:40px;
                        z-index:0;
                        border-radius: 10%;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        "><span style="margin-left: -1.5px;z-index: -1">Valider</span></button>
            </div>
            <div class="col-2">
                <a style="display: flex;flex-direction: column;margin-top: 20px;align-items: center" href="https://twitter.com" target="_blank" class="fa fa-twitter-square">
                    <h5 style="margin-top: 10px;font-size: 15px">Twitter</h5>
                </a>
                <ul class="nav flex-column" style="text-align: center">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="">Retour en haut de page</a></li>
                </ul>
            </div>
            </footer>



    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>
        <script src="{{ asset('assets/js/jquery-2.1.4.min.js') }}"></script>
        <script src="{{ asset('assets/js/typed.min.js.map') }}"></script>
        <script src="{{ asset('assets/js/typed.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.js') }}"></script>
        <script src="{{ asset('assets/js/pop-up-gallery5.js') }}"></script>
        <script src="https://kit.fontawesome.com/e21bd95457.js" crossorigin="anonymous"></script>
    {% endblock %}



    <script>
        var typed = new Typed('#typed', {
            stringsElement: '#typed-strings'
        });
    </script>
    <script>
        var typed2 = new Typed('#typed2', {
            stringsElement: '#typed-strings2'
        });
    </script>

    <script>
                 // navabr
        let lastScrollTop = 0;
        navbar = document.getElementById('navbar');

        window.addEventListener('scroll' , function()
        {
            const scrollTop = this.window.pageTOffset ||
                this.document.documentElement.scrollTop;

            if (scrollTop > lastScrollTop) {
                navbar.style.top="-50px";
            } else {
                navbar.style.top="0";
            }
            lastScrollTop = scrollTop;
        });
    </script>
</html>
